<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/2ca2944d1c.js" crossorigin="anonymous"></script>
</head>
<body>
    {{>navbar}}

    <div class="form">
        <form action="/feedback" method="post">
            NAME: <input type="text" name="name" >
            EMAIL: <input type="email" name="email">
            FEEDBACK: <textarea name="feedback"  cols="30" rows="8"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    
    {{>footer}}
</body>
</html>