<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/2ca2944d1c.js" crossorigin="anonymous"></script>
</head>
<body>
    {{>navbar}}

    <div class="weather_box">
        <form >
        <input type="text" name="searchcity" id="searchcity" placeholder="Enter city name" autocomplete="off" required >
        <input type="submit" value="Search" id="searchBtn">
        </form>
        <div id="details">
            <div class="top_layer">
                <p id="time">Time</p>
            </div>
            <div class="city_name">
                <p id="city_name">City,Country</p>
            </div>
            <div class="main_layer">
                <p id="temp">&#8451;</p>
                <p id="temp_status">Icon</p>
            </div>

        </div>
    </div>

    {{>footer}}

    <script src="js/main.js"></script>
</body>
</html>