<nav>
    <h2><i class="far fa-snowflake"></i> Weather<span>Info</span> <i class="far fa-snowflake"></i></h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href="/feedback">Feedback</a></li>
    </ul>
</nav>